body {
  background-color: cornflowerblue;
  color: white;
}
.App {
  text-align: center;
  font-family: "roboto-thin";
}

h1 {
  text-align: center;
}

.app-wrapper {
  padding: 10px;

  box-sizing: border-box;
  display: flexbox;
  width: 80%;
  margin: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-display {
  display: flexbox;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

select {
  margin-left: 10px;
}

.submit-btn {
  align-self: center;
  width: fit-content;
  height: fit-content;
}

.result {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.result-img {
  width: 500px;
  height: 500px;
  border: 5px solid white;

  border-radius: 50px;
}

.reset-btn {
  align-self: center;
  width: fit-content;
  height: fit-content;
}

.artist-info {
  font-size: 18px;
}
